.mat-dialog-container {
    td-dialog {
        .td-dialog-title {
           font-size:  20px;
           font-weight: normal 500;
           font-family: Roboto, 'Helvetica Neue', sans-serif;
        }
        .td-dialog-content {
            font-size:  16px;
            font-weight: normal 400;
            font-family: Roboto, 'Helvetica Neue', sans-serif;
        }
    }
}
